body {
  background-color: #f8f9fa;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
  color: #2c3e50;
  font-weight: 700;
}

label {
  font-weight: 600;
}

.container {
  margin-bottom: 20px;
  width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
}
